{{ "<!-- About Section -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="secondary-color-letter">{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-2">
                <p class="secondary-color-letter">{{ with .Site.Params.about.left }}{{ . | markdownify }}{{ end }}</p>
                <p.small><br/></p.small>
            </div>
            <div class="col-lg-3">
                <p class="secondary-color-letter">{{ with .Site.Params.about.center }}{{ . | markdownify }}{{ end }}</p>
                <p.small><br/></p.small>
            </div>
            <div class="col-lg-3">
                <p class="secondary-color-letter">{{ with .Site.Params.about.right }}{{ . | markdownify }}{{ end }}</p>
                <p.small><br/></p.small>
            </div>        
        </div>
</section>
