{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="secondary-color-letter">{{ .title }}</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/{{ .img }}" class="img-responsive img-centered" alt="">
                        <p class="secondary-color-letter">{{ .description | markdownify }}</p>
                        <ul class="list-inline item-details">
                            {{$var1 := .fileLink}}
                            {{$var2 := "sin contenido"}}
                            {{if not (eq $var1 $var2)}}
                                <li class="secondary-color-letter">{{ with $.Site.Params.portfolio.modal.informacion }}{{.}}{{ end }}:
                                    <strong><a href="pdf/{{ .fileLink }}">{{ .file }}</a></strong>
                                </li>
                            {{end}}
                        </ul>
                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">{{ with $.Site.Params.portfolio.modal.buttontext }}{{.}}{{ end }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
