{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.services.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>{{ with .Site.Params.services.A1 }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div> 

        <div class="row">
                <div class="col-lg-12">
                    <br/>
                </div>
            </div>

        <div class="row">
                <div class="col-lg-2 col-lg-offset-2">
                    <p>{{ with .Site.Params.services.B1 }}{{ . | markdownify }}{{ end }}</p>
                </div>
                <div class="col-lg-2">
                    <p>{{ with .Site.Params.services.B2 }}{{ . | markdownify }}{{ end }}</p>
                </div>
                <div class="col-lg-2">
                    <p>{{ with .Site.Params.services.B3 }}{{ . | markdownify }}{{ end }}</p>
                </div>
                <div class="col-lg-2">
                        <p>{{ with .Site.Params.services.B4 }}{{ . | markdownify }}{{ end }}</p>
                    </div>
            </div> 
         
    </div>
</section>
