{{ "<!-- About Section -->" | safeHTML }}
<section class="success" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-orange">{{ with .Site.Params.team.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p class="contact-name">{{ with .Site.Params.team.team1.name }}{{.}}{{ end }}</p>
            <p class="contact-title">{{ with .Site.Params.team.team1.title }}{{.}}{{ end }}</p>
            <p class="contact-other">
                <a href="mailto:{{ with .Site.Params.team.team1.email }}{{.}}{{ end }}">
                    {{ with .Site.Params.team.team1.email }}{{.}}{{ end }}
                </a>   
            </p>
            <p class="contact-other">
                <a href="tel:{{ with .Site.Params.team.team1.tel }}{{.}}{{ end }}">
                    Tel: {{ with .Site.Params.team.team1.tel }}{{.}}{{ end }}
                </a>   
            </p>
            <p.small><br/></p.small>
        </div>
     
        <div class="col-lg-3">
                <p class="contact-name">{{ with .Site.Params.team.team2.name }}{{.}}{{ end }}</p>
                <p class="contact-title">{{ with .Site.Params.team.team2.title }}{{.}}{{ end }}</p>
                <p class="contact-other">
                    <a href="mailto:{{ with .Site.Params.team.team2.email }}{{.}}{{ end }}">
                        {{ with .Site.Params.team.team2.email }}{{.}}{{ end }}
                    </a> 
                </p>
                <p class="contact-other">
                    <a href="tel:{{ with .Site.Params.team.team2.tel }}{{.}}{{ end }}">
                        Tel: {{ with .Site.Params.team.team2.tel }}{{.}}{{ end }}
                    </a>   
                </p>
                <p.small><br/></p.small>
            </div>
    
          <div class="col-lg-3">
            <p class="contact-name">{{ with .Site.Params.team.team3.name }}{{.}}{{ end }}</p>
            <p class="contact-title">{{ with .Site.Params.team.team3.title }}{{.}}{{ end }}</p>
            <p class="contact-other">
                <a href="mailto:{{ with .Site.Params.team.team3.email }}{{.}}{{ end }}">
                    {{ with .Site.Params.team.team3.email }}{{.}}{{ end }}
                </a> 
            </p>
            <p class="contact-other">
                <a href="tel:{{ with .Site.Params.team.team3.tel }}{{.}}{{ end }}">
                    Tel: {{ with .Site.Params.team.team3.tel }}{{.}}{{ end }}
                </a>   
            </p>
            <p.small><br/></p.small>
        </div>

    </div>
</section>
